<h1>All shops (<%= @shops.count %>)</h1>

<% @shops.each do |shop| %>
  <div class="card-group">
    <%= link_to shop_path(shop) do %>
      <div class="shop-card">
        <div class="shop-card-image">
          <%= image_tag("le-zephyr.jpg") %>
        </div>
        <div class="shop-card-info">
          <h3><%= shop.name %></h3>
          <p><%= shop.address %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
